<style>
  .navbar {
    max-width: var(--container-max-size);
    padding: var(--space-7) var(--container-padding-sides);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--space-4);
  }
  .navbar nav {
    flex: 1;
  }
  .navbar a {
    text-decoration: none;
    color: unset;
  }
  .navbar a:hover {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;
  }
  .navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--space-6);
    row-gap: var(--space-4);
    flex-wrap: wrap;
  }
  .navbar-links > *:nth-child(2) {
    margin-left: auto;
  }
  .link-home {
    font-weight: bold;
    color: var(--color-primary);
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
  .logo {
    height: var(--font-size-xl);
    width: var(--font-size-xl);
  }
  .logo-link {
    flex-shrink: 0;
  }
  [data-theme="dark"] .logo {
    filter: invert(1);
  }
  @media (max-width: 1250px) {
    .navbar-links > *:nth-child(1) {
      width: 100%;
    }
    .navbar-links > *:nth-child(2) {
      margin-left: unset;
    }
  }
</style>

<header class="navbar">
  <nav>
    <ul class="navbar-links">
      <li class="link-home">
        <a href="/" class="logo-link"><img src="/favicon/android-chrome-512x512.png" alt="logo" class="logo"></a>
        <a href="/">{{ site.shortTitle }}</a>
      </li>
      <li><a href="/articles">articles</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/rss.xml">rss</a></li>
    </ul>
  </nav>
  {% include "dark-toggler.liquid" %}
</header>
